.Favorites::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px var(--shadow-color);
  border-radius: 0.2rem;
  background-color: var(--shadow-color);
}

.Favorites::-webkit-scrollbar {
  width: 12px;
  background-color: var(--shadow-color);
}

.Favorites::-webkit-scrollbar-thumb {
  border-radius: 0.4rem;
  -webkit-box-shadow: inset 0 0 6px var(--shadow-color);
  background-color: rgba(214, 41, 41, 0.781);
}

.Favorites .MovieItem_buttons-button.MovieItem_button-remove {
  top: 88%;
  left: 45%;
}

.Favorites-empty {
  position: absolute;
  top: 50%;
  left: 62%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #eee;
  text-align: center;
  width: 74%;
}

.Favorites-empty img {
  height: 20vw;
}

.Favorites-empty span {
  font-size: 1.5vw;
}
