/**************************
Media Queries for Favorites.js 
***************************/
/* Extra Large Screens */
@media screen and (min-width:1920px) {
    .Favorites {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 39vh;
        grid-auto-rows: 39vh;
        grid-gap: var(--sp-lg);
        padding: var(--sp-md);
    } 
}


/* Laptops Screens */
@media screen and (max-width:1450px) {
    .app_container {
        height: 85vh;
        width: 85vw;
    }

    .Favorites {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 39vh;
        grid-auto-rows: 39vh;
        grid-gap: var(--sp-lg);
        padding: var(--sp-md);
    } 
}


/* Landscape Screen */
@media screen and (max-width:1324px) {
    .app_container {
        height: 95vh;
        width: 95vw;
    }

    .Favorites {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 45vh;
        grid-auto-rows: 45vh;
        grid-gap: var(--sp-lg);
        padding: var(--sp-md);
    } 
}

/* Tablet Screen */
@media screen and (max-width:1100px) {
    .app_container {
        height: 100vh;
        width: 100vw;
    }

    .Favorites {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 47vh;
        grid-auto-rows: 47vh;
        grid-gap: var(--sp-md);
        padding: var(--sp-md);
    } 

    .Favorites .MovieItem_buttons-button.MovieItem_button-remove {
        top: 88%;
        left: 50%;
    }
}


/* Large Phones Screen */
@media screen and (max-width:750px) {
    .Favorites {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 55vh;
        grid-auto-rows: 55vh;
        grid-gap: var(--sp-lg);
        padding: var(--sp-lg);
    } 
}

/* Medium / small  Phones Screen */
@media screen and (max-width:590px) {
    .Favorites {
        grid-template-columns: 1fr;
        grid-template-rows: 55vh;
        grid-auto-rows: 55vh;
        padding: 28vw 20vw;
    } 
}