/**************************
Media Queries for SideNav.js 
***************************/
/* Extra Large Screens */
@media screen and (min-width:1920px) {
    .Movies-add {
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        font-size: 3rem;
        padding-bottom: var(--sp-md);
        box-shadow: 3px 8px 10px rgba(0,0,0,.7);
    }
    
    .Movies-add:hover {
        top: 69%;
        color: var(--main-color);
        background-color: #fff;
    }
    
    .Movies-add:active {
        top: 70%;
    }
    
    .Movies-add::after {
        content: '+';
        position: absolute;
        bottom: 0%;
        right: 25%;
    }
}

/* Tablet Screen */
@media screen and (max-width:1100px) {
    .SideNav {
        position: absolute;
        top: 0;
        left: 0;
        transform: scaleY(0);
        transform-origin: top;
        opacity: 0;
        transition: all .5s ease;
        width: 100%;
        background-color: rgb(0, 0, 0);
        z-index: 1000;
    }

    .SideNav.SideNav-toggled  {
        transform: scaleY(1);
        opacity: 1;
    }

    .SideNav_logo img {
        height: 4rem;
        width: 13rem;
        position: absolute;
        top: 840%;
        right: 0%;
        z-index: 9999;
    }
    
    .Movies-add {
        position: absolute;
        top: 89%;
        left: 22%;
        transform: translate(-50%, -50%);
        height: 2.3rem;
        width: 5rem;
        border-radius: .2rem;
        box-shadow: 2px 3px 4px rgba(0,0,0,.2);
    }
    
    .ant-tooltip.ant-tooltip-placement-right {
        display: none !important;
    }
    .Movies-add:active,
    .Movies-add:hover {
        top: 21%;
    }
    
    .Movies-add::after {
        content: 'New';
        position: absolute;
        bottom: 10%;
        right: 25%;
        font-size: 1.5rem;
    }
}


/* Medium / small  Phones Screen */
@media screen and (max-width:590px) {
    .SideNav_logo img {
        opacity: 0;;
    }
    
    .Movies-add {
        position: absolute;
        top: 90%;
        left: 4rem;
        transform: translate(-50%, -50%);
        height: 2.3rem;
        width: 5rem;
        border-radius: .2rem;
        box-shadow: 2px 3px 4px rgba(0,0,0,.2);
    }
    

    .ant-tooltip.ant-tooltip-placement-right {
        display: none !important;
    }
    
    .Movies-add:active,
    .Movies-add:hover {
        top: 91%;
    }
    
    .Movies-add::after {
        content: 'New';
        position: absolute;
        bottom: 10%;
        right: 25%;
        font-size: 1.5rem;
    }
}