/**************************
Media Queries for SideNav.js 
***************************/
/* Extra Large Screens */
@media screen and (min-width:1920px) {
    .Movies-add {
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        font-size: 3rem;
        padding-bottom: var(--sp-md);
        box-shadow: 3px 8px 10px rgba(0,0,0,.7);
    }
    
    .Movies-add:hover {
        top: 69%;
        color: var(--main-color);
        background-color: #fff;
    }
    
    .Movies-add:active {
        top: 70%;
    }
    
    .Movies-add::after {
        content: '+';
        position: absolute;
        bottom: 0%;
        right: 25%;
    }
}

/* Tablet Screen */
@media screen and (max-width:1100px) {
    .SideNav {
        height: 4rem;
        opacity: 0;
        transition: all .5s ease;
    }

    .SideNav.SideNav-toggled  {
        height: 100%;
        opacity: 1;
    }

    .SideNav_logo img {
        height: 4rem;
    }
    
    .Movies-add {
        position: absolute;
        top: 19%;
        left: 20%;
        transform: translate(-50%, -50%);
        height: 2.3rem;
        width: 5rem;
        border-radius: .2rem;
        box-shadow: 2px 3px 4px rgba(0,0,0,.2);
    }
    
    .Movies-add:active,
    .Movies-add:hover {
        top: 21%;
    }
    
    .Movies-add::after {
        content: 'New';
        position: absolute;
        bottom: 10%;
        right: 25%;
        font-size: 1.5rem;
    }
}