/**************************
 Application Side Nav 
***************************/
.SideNav {
    background-color: rgba(14, 11, 11, 0.603);
    position: relative;
}

.SideNav_logo {
    height: 20%;
    padding-top: var(--sp-lg);
    position: relative;
    text-align: center;
}

.SideNav_logo img {
    height: 5rem;
    width: 13rem;
    display: inline-block;
    z-index: 99;
}


.Movies-add {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 3rem;
    width: 3rem;
    background-color: var(--main-color);
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    font-size: 2.5rem;
    padding-bottom: var(--sp-md);
    box-shadow: 3px 8px 10px rgba(0,0,0,.7);
    transition: all .3s ease;
}

.Movies-add:hover {
    top: 74%;
    color: var(--main-color);
    background-color: #fff;
}

.Movies-add:active {
    top: 75%;
}

.Movies-add::after {
    content: '+';
    position: absolute;
    bottom: 0%;
    right: 22%;
}