/**************************
Media Queries for MovieItem.js 
***************************/
/* Extra Large Screens */
@media screen and (min-width:1920px) {
    .MovieItem .MovieItem_content {
        font-size: .7rem;
        letter-spacing: .02rem;
    }
    
    .MovieItem .MovieItem_content h3 {
        font-size: .9rem;
    }
}