/* Tablet Screen */
@media screen and (max-width:1100px) {
  .SocialMenu_wrapper {
    position: absolute;
    top: 90%;
    left: 8%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }

  .SocialMenu a {
    width: 35px;
    height: 35px;
    font-size: 18px;
    line-height: 38px;
    border-radius: 4px;
    margin: 0 3px;
  }
}

/* Medium / small  Phones Screen */
@media screen and (max-width:590px) {
  .SocialMenu_wrapper {
    position: absolute;
    top: 90%;
    left: 10rem;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}