.EditModal_fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 1rem;
    grid-gap: 1rem;
}

.EditModal_fields-field label {
    float: left;
}

.EditModal_fields-field input {
    float: right;
    border: 1px solid rgba(0, 0, 0, 0.342);
    border-radius: .2rem;
    outline: none;
    padding: .1rem;
}

.EditModal_fields-genres div {
    margin-bottom: var(--sp-sm);
}

.EditModal_fields-genres button {
    height: 2rem;
    width: 2.5rem;
    border-radius: 10%;
    border: none;
    background-color: var(--main-color);
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    transition: all .3s ease;
    outline: none;
}

.EditModal_fields-genres button:hover {
    background-color: rgb(179, 10, 18);
}

.EditModal_fields-genres .new-genre {
    background-color: rgb(11, 139, 6);
    outline: none;
}

.EditModal_fields-genres .new-genre:hover {
    background-color: rgb(9, 104, 6);
}