.App {
    height: 100vh;
    background-image: url(./assets/bgc.jpg);
    background-size: cover;
    background-position: center;
}

.app_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80vh;
    background-color: rgba(255, 255, 255, 0);
    width: 80vw;
}

.app_container-content {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    position: relative;
}