/***************************
Open Sans Font-Family. 
****************************/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

/***************************
Reset the browser defaults. 
****************************/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 62.5%;
  /* making 1em = 10px */
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

/* Variables for reusability of styling */
:root {
  /* App colors */
  --main-color: #E50914;
  --second-color: #eee;
  --shadow-color: rgba(0, 0, 0, 0.788);
  /* spaces used for margin & padding */
  --sp-sm: .5rem;
  --sp-md: 1rem;
  --sp-lg: 1.5rem;
}

/* Default Shared & reuseable Button Styling */
.button {
  background-color: var(--main-color);
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
}

/* Default Page Structure ( Favorites / Movies ) */
.page {
  background-color: var(--shadow-color);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 37vh;
  grid-auto-rows: 37vh;
  grid-gap: var(--sp-lg);
  padding: var(--sp-md);
  overflow-y: auto;
}