/***************************
Open Sans Font-Family. 
****************************/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

/***************************
Reset the browser defaults. 
****************************/
* {
  padding: 0;
  margin : 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;    /* making 1em = 10px */
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

/* Variables for reusability of styling */
:root {
  /* App colors */
  --main-color : #E50914;
  --second-color : #eee;
  --shadow-color : rgba(0, 0, 0, 0.788);
  /* spaces used for margin & padding */
  --sp-sm : .5rem; 
  --sp-md : 1rem;
  --sp-lg : 1.5rem;
}

/* Default Shared & reuseable Button Styling */
.button {

}