/**************************
Media Queries for App.js 
***************************/
/* Extra Large Screens */
@media screen and (min-width:1920px) {
    .app_container {
        height: 90vh;
    }

    .app_container-content {
        grid-template-columns: 1fr 3fr;
    }
}


/* Laptops Screens */
@media screen and (max-width:1450px) {
    .app_container-content {
        grid-template-columns: 1fr 3fr;
    }
}

/* LandScape Screens */
@media screen and (max-width:1100px) {
    .app_container-content {
        grid-template-columns: .5fr 3.5fr;
    }
}


/* Tablet Screen */
@media screen and (max-width:1100px) {
    .app_container-content {
        grid-template-columns: 1fr;
    }
}