/* Tablet Screen */
@media screen and (max-width:1100px) {
    .BurgerNavBar {
        display: block;
        background-color: var(--main-color);
        width: 45px;
        height: 45px;
        border-radius: 10%;
    }
}